.main{
    background:#fff;
    padding: 15px;
}
.s_title h1{
    font-weight: normal;
    font-size: 30px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.p_b{
    float: left;
    width: 690px;
    margin-right: 4px;
    overflow: hidden;
}
.p_s{
    float: left;
    width: 305px;
    height: 190px;
    margin-bottom: 4px;
    overflow: hidden;
    margin-bottom: 5px;
}
.p_s img{vertical-align: middle;height: 390px;}
.p_s img{height: 100%;}
.p_d{
    margin-top: 60px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    padding-right: 50px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    border-bottom: 1px solid lightgrey;
}